.artist-page {
  position: relative;
}

.user-cover {
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 320px;
  background: linear-gradient(180deg, rgba(151, 71, 255, 0) 21.88%, #9747FF 95.31%);
  margin-bottom: 50px;
}

.user-cover-img {
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.user-avatar {
  position: absolute;
  top: 250px;
  left: calc((100% - 1050px) / 2);
  box-sizing: border-box;
  width: 120px;
  border-radius: 20px;
  border: 2px solid #2b2b2b;
}

.artist-info {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.artist-stats {
  display: flex;
  width: 510px;
  gap: 20px;
}

.artist-stats .h4 {
  line-height: 140%;
}

.artist-info .text {
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}

.artist-stats > * {
  width: 100%
}

.artist-info-body {
  gap: 30px;
}

.artist-info .h5 {
  color: #858584;
}

.artist-bio {
  gap: 10px;
}

.artist-links {
  gap: 10px;
}

.artist-links-icons {
  gap: 10px;
}



.artist-info-button {
  display: flex;
  gap: 20px;
  height: 60px;
}

.artist-but-link, .artist-but-follow {
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 20px 30px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  gap: 12px;
  cursor: pointer;
}

.artist-but-link {
  background: #A259FF;
  border: none;
}

.artist-but-follow {
  background: none;
  border: 2px solid #A259FF;
}

.tab-bar{
  padding-top: 10px;
  border-top: 2px solid #3b3b3b;
}

.tab-bar-body {
  height: 60px;
  display: flex;
}

.tab-bar-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.tab-bar-button:hover {
  border-bottom: 2px solid #3B3B3B;
}

.tab-bar-button:hover .tab-bar-text {
  color: white;
}

.tab-bar-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  color: #858584;
}

.tab-bar-num {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  background: #3B3B3B;
  padding: 5px 10px;
  border-radius: 20px;
}

.artist-card-bg {
  background: #3b3b3b;
}

.artist-card {
  padding: 80px 0;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-bg {
  border-top: 2px solid #2B2B2B;
}

@media screen and (max-width: 1100px) {
  .user-cover {
    height: 280px;
  }
  .user-avatar {
    top: 210px;
    left: calc((100% - 690px) / 2);
  }
  .artist-info .h2{
    font-size: 38px;
    line-height: 120%;
  }
  .artist-info .h4{
    font-size: 22px;
    line-height: 160%;
  }
  .artist-info .h5{
    font-size: 16px;
    line-height: 140%;
  }
  .artist-info .text{
    font-size: 16px;
    line-height: 140%;
  }

  .tab-bar-text {
    font-size: 16px;
  }

  .tab-bar-num {
    font-size: 12px;
    line-height: 110%;
  }

}

@media screen and (max-width: 740px) {
  .user-cover {
    height: 250px;
  }
  .user-avatar {
    top: 180px;
    left: calc((100% - 120px) / 2);
  }
  .artist-info-body {
    width: 100%
  }
  .artist-info .h2{
    font-size: 28px;
    line-height: 140%;
  }
  .artist-stats {
    width: 100%;
  }
  .artist-info-button {
    flex-direction: column;
    height: auto;
  }
  .artist-but-link, .artist-but-follow {
    justify-content: center;
    height: 60px;
  }

  .artist-card {
    padding: 40px 0;
  }
}