body {
  background-color: #2b2b2b;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: white;
}

p {
  font-size: 16px;
  line-height: 140%;
}

a {
  text-decoration: none;
  display: contents;
  color: white;
}

.smart:hover {
  transition: all 0.3s ease;
  transform: scale(0.95);
}

h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
}

h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
}

h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}

h4{
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}

h5{
  font-weight: 700;
  font-size: 22px;
  line-height: 160%
}

.h1 {
  font-weight: 600;
  font-size: 67px;
  line-height: 110%;
}

.h2 {
  font-weight: 600;
  font-size: 51px;
  line-height: 110%;
}

.h3 {
  font-weight: 600;
  font-size: 38px;
  line-height: 120%;
}

.h4{
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
}

.h5{
  font-weight: 700;
  font-size: 22px;
  line-height: 160%
}

.work-sans {
  font-family: 'Work Sans', sans-serif;
}

.space-mono {
  font-family: 'Space Mono', sans-serif;
}

.button_text {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.wrapper {
  width: 1050px;
  margin: 0 auto;
}

.caption-space {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
  color: #858584
}

.caption-work {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 110%;
}

.base-body-space {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.base-body-work {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.body-work {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 160%;
}

/* input:autofill {
  background-color: white;
  border: 2px solid blue;
} */
input:-webkit-autofill,
input:-webkit-autofill:focus {
   transition: background-color 600000s 0s, color 600000s 0s;
}

/* .work-sans {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
} */

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.not-desktop {
  display: none;
}

.only-laptop {
  display: none;
}

.only-mobile {
  display: none;
}

@media screen and (max-width: 1100px) {

  h1 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  h2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 120%;
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
  }

  h4 {
    font-weight: 700;
    font-size: 22px;
    line-height: 160%
  }

  .body-work {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  .wrapper {
    width: 690px;
    margin: 0 auto;
  }

  .not-desktop {
    display: initial;
  }
  
  .only-desktop {
    display: none;
  }

  .not-laptop {
    display: none;
  }
  
  .only-laptop {
    display: initial;
  }

}

@media screen and (max-width: 740px) {
  
  h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
  }

  .wrapper {
    width: 315px;
    margin: 0 auto;
  }

  .not-laptop {
    display: initial;
  }
  
  .only-laptop {
    display: none;
  }

  .not-mobile {
    display: none;
  }

  .only-mobile {
    display: initial;
  }

}